<h3 class="header-title">
    {{"Phone Status" | translate }}
</h3>

<div class="container-fluid mt-3"  *ngIf="showAddForm">
       <form [formGroup]="PhoneStatusForm" 
      (ngSubmit)="addPhoneStatus(PhoneStatusForm.value)">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill" class="w-100"  [disabled]="showEditForm" [ngClass]="showEditForm === true ? 'disable-field pb-0 border-bottom-black' : ''" >
                <mat-label>{{ "Phone Status Code" | translate }}</mat-label>
                <input matInput maxlength="3"  specialIsAlphaNumeric tabindex="-1" formControlName="phoneStatusCode"  appNotAllowWhiteSpaceStart [id]="'phoneStatusCode'"/>
                     <!-- ERRORS -->
                 <mat-error *ngIf="PhoneStatusForm.get('phoneStatusCode')?.hasError('required')" [id]="'phoneStatusCode1'" >
                    {{ 'Phone status code is Required' | translate }}
                  </mat-error>
                  <mat-error *ngIf="PhoneStatusForm.get('phoneStatusCode')?.hasError('invalid')"   maxlength="20" [id]="'phoneStatusCode2'" >
                    {{ PhoneStatusForm.get('phoneStatusCode')?.getError('invalid') |
                    translate }}
                  </mat-error>
   
                 <!-- ERRORS -->
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{ "Description" | translate }}</mat-label>
                <input matInput  maxlength="20" formControlName="phoneStatusDesc" appNotAllowWhiteSpaceStart [id]="'phoneStatusDesc'" />
                <!-- ERRORS -->
                 <mat-error *ngIf="PhoneStatusForm.get('phoneStatusDesc')?.hasError('required')" [id]="'phoneStatusDesc1'" >
                    {{ 'Description is Required' | translate }}
                  </mat-error>
                <!-- ERRORS -->
            </mat-form-field>
        </div>
         <div class="align-items-end col-md-5 mb-4 d-flex justify-content-end">
             <button mat-raised-button class="m-1 color-blue" [id]="'Cancel'" (click)="cancelAdd_Save()">{{'Cancel'| translate}}</button>
            <button mat-raised-button class="color-blue m-1" [id]="'Add1'" *ngIf="addBtn" [id]="'addBtn'">{{'Add' | translate}}</button>
              <button type="button"  mat-raised-button class="m-1 color-blue" [id]="'Searchbtn'"*ngIf="!addBtn" (click)="updateRecord(PhoneStatusForm.value)">
              {{'Save' |translate}}
            </button>
        </div>
    </div>
    </form>
</div>

<div class="container-fluid"  [hidden]="showAddForm">
        <div class="row">
        <div class="col-sm-12">
            <div class="align-items-center d-flex row">
                  <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>{{ "Search" | translate }}</mat-label>
                    <input matInput #search matInput [id]="'Search1'"
                         placeholder="Type" 
                         (keyup)="applyFilter($event)" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <div class="text-right">
               <button mat-raised-button appearance="fill" class="m-1 color-blue"  [id]="'Add2'" (click)="showAddFormPage()">
                  {{ "Add" | translate }}
                </button>
              </div>
            </div>
            </div>
        </div>
    </div>
     <div class="mat-elevation-z8">
  <table  mat-table [dataSource]="dataSource" matSort DisableClearmatSort (matSortChange)="announceSortChange($event)">
    <!-- Position Column -->
    <ng-container matColumnDef="phoneStatusCode">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef>{{ "Phone Status Code" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneStatusCode}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="phoneStatusDesc">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef>{{ "Description" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneStatusDesc}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell  *matHeaderCellDef>{{ "Action" | translate }}</th>
     <td mat-cell *matCellDef="let row" class="text-center">
                <button mat-icon-button color="dark-grey" [id]="'Edit'"  (click)="editIconClicked(row)" title="{{'Edit' | translate }}">
                  <mat-icon class="edit-blue">edit</mat-icon>
                </button>
               <button mat-icon-button color="dark-grey"  [id]="'Delete'"  title="{{'Delete' | translate }}" (click)="deleteRecord(row)">
                  <mat-icon class="color-light-gray">delete</mat-icon>
                </button>
               
              </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 <div class="col-sm-12 text-center" *ngIf="dataSource.filteredData?.length === 0"> {{'No records found' | translate}}</div>
      
        <mat-paginator
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons
        [hidden]="showAddForm"
      ></mat-paginator>
</div>
</div>