<h3 class="header-title">
  {{ "Queue Processing" | translate }}
</h3>
<div class="container-fluid">
  <form [formGroup]="queueForm">
    <!-- <div class="row">
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w-100 " >
          <mat-label>{{"Select Queue" | translate}}</mat-label>
          <mat-select (selectionChange)="changeBehaviourType($event.value)" [id]="'selectQueue'" formControlName="selectQueue">
            <mat-option *ngFor="let queue of queueList" value="{{queue.queuesID}}">
              {{queue.queuesName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w-100 " [disabled]="disableForm" [ngClass]="disableForm === true ? 'disable-field pb-0 border-bottom-black' : ''">
          <mat-label>{{"Event" | translate}}</mat-label>
          <input type="Text" matInput formControlName="eventItem" [id]="'eventItem'" readonly />
          <mat-select formControlName="eventItem" (selectionChange)="changeEventItemId($event.value)">
            <mat-option *ngFor="let queue of eventList" value="{{queue.eventsID}}">
              {{queue.eventsID}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div> -->

    <div class="queue-header d-flex justify-content-between queue-header">
      <div class="queue-search">


      </div>
      <!-- <div class="queue-search">
        search
      </div> -->
    </div>

    <!-- <div class="row">
      <div class="col-md-4 mr-0 pr-0">
        <h4 class="blacked-title border-0">{{"Event" | translate}}</h4>
        <mat-form-field appearance="fill" class="">
          <mat-label>{{"Event" | translate}}</mat-label>
          <mat-select formControlName="eventItem" (selectionChange)="changeEventItemId($event.value)">
            <mat-option *ngFor="let queue of eventList" value="{{queue.eventsID}}">
              {{queue.eventsID}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 mr-0 ml-0 pr-0 pl-0">
        <h4 class="blacked-title border-0 text-center">{{"Queue Sent To" | translate}}</h4>
        <ul style="list-style-type:none;" class="p-0 text-center">
          <li>Item 1</li>
        </ul>
      </div>
      <div class="col-md-4 mr-0 ml-0 pr-0 pl-0">
        <h4 class="blacked-title border-0 text-center">{{"Decision" | translate}}</h4>
        <ul style="list-style-type:none;" class="p-0 text-center">
          <li>Item 1</li>
        </ul>
      </div>
    </div> -->
    <!-- <mat-accordion class="mb-2">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           {{"Queue Details Update" | translate}}
          </mat-panel-title>
          <mat-panel-description>
           {{"Submit Queue" | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-3">
            <div class="text-center">
              <button mat-raised-button class="color-blue w-100" style="height: 50px;">{{'COMMENT'| translate}}</button>
              <button mat-raised-button class="color-blue w-100" style="height: 50px; margin-top: 20px;">{{'NAME ADDRESS
                UPDATE'| translate}}</button>
            </div>

            <mat-form-field appearance="fill" class="w-100 mt-2">
              <mat-label>{{"Datepicker" | translate}}</mat-label>
              <input type="Text" matInput />
            </mat-form-field>
            <div class="text-center">
              <button mat-raised-button class="color-blue" style="height: 50px; margin-top: 20px;">{{'SYSTEM PROBLEM FORM'| translate}}</button>
            </div>


          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Decision Code" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Suspend Code" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Letter Code" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-center">
              <button mat-raised-button class="color-blue" style="height: 50px; margin-top: 6px;">{{'SUBMIT TRANSACTION'| translate}}</button>
            </div>

          </div>
          <div class="col-md-5">

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Output Queue" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Refer Queue" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{"Defer Queue" | translate}}</mat-label>
              <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <div class="text-center">
                <button mat-raised-button class="color-blue" style="height: 50px; margin-top: 6px;">{{'SEND TO QUEUE'| translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion> -->

    <div class="violation-detail mt-3">
      <div class="vehicleInfo">
        <div class="row">
          <!-- double blind -->
          <div class="col-md-6  mt-2">
            <!-- <img src="../../../assets/images/placeholder-image.png" class="w-100" /> -->
            <div class="gallery-wrapper">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages" [id]="'galleryItems'"  class="ngx-gallery"></ngx-gallery>
              <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> -->
            </div>
            <div class="conditional-cards mat-card p-2 mb-2" style="width: 100%;
                max-width: 100% !important;">
              <p class="blacked-title">{{"Neighbors" | translate}}</p>

              <table mat-table [dataSource]="neighboursdataSource" matSortDisableClear matSort #neighbourSort="matSort"
                class="mat-elevation-z8">
                <ng-container matColumnDef="eventsID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EventID' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.eventsID}} </td>
                </ng-container>

                <ng-container matColumnDef="laneNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Lane#' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.laneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="statePlate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Plate' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.statePlate}} </td>
                </ng-container>
                <ng-container matColumnDef="stateProvincesName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'State/Province' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-left"> {{element.stateProvincesName}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #MatPaginator1 [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="conditional-cards mat-card p-2 mb-2" style="width: 100%;
                max-width: 100% !important;
                margin-right: 20px !important;">
              <p class="blacked-title">{{'VR History Log' | translate}}</p>

              <table mat-table [dataSource]="vrhistroydataSource" matSortDisableClear matSort #historySort="matSort"
                class="mat-elevation-z8">
                <ng-container matColumnDef="createDatetime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.createDatetime | date }} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Action' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-left">
                    <span *ngIf="element.isExport === true">Export</span>
                    <span *ngIf="element.isExport === false">Import</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="plate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Plate' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-left"> {{element.plate}} </td>
                </ng-container>
                <ng-container matColumnDef="stateProvincesName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'State/Province' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-left"> {{element.stateProvincesName}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="VRdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: VRdisplayedColumns;"></tr>
              </table>
              <mat-paginator #MatPaginator2 [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>

          <div class="col-md-6 pl-0">
            <div class="d-flex flex-wrap" *ngIf="QueEnableList">

              <ng-container>
                <div class="conditional-cards mat-card p-2 mb-2">
                  <p class="blacked-title">{{'Workflow' | translate}}</p>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"Plate" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="workflowPlate" [id]="'workflowPlate'" maxlength="10" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"State" | translate}}</mat-label>
                    <mat-select formControlName="workflowState" [id]="'workflowState'">
                      <mat-option *ngFor="let state of stateList"   value="{{state.stateProvincesID}}">
                        {{state.stateProvincesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"Section" | translate}}</mat-label>
                    <mat-select formControlName="workflowSection" [id]="'workflowSection'">
                      <mat-option *ngFor="let section of sectionsList"  value="{{section.sectionsID}}">
                        {{section.sectionsName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"Weather Type" | translate}}</mat-label>
                    <mat-select formControlName="weatherType" [id]="'weatherType'">
                      <mat-option *ngFor="let state of weatherList"  value="{{state.weatherTypesId}}">
                        {{state.weatherTypesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"Last workflow action" | translate}}</mat-label>
                    <mat-select formControlName="workflowaction" [id]="'workflowaction'">
                      <mat-option *ngFor="let action of actionsList"  value="{{action.actionsID}}">
                        {{action.actionsName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"Category" | translate}}</mat-label>
                    <mat-select formControlName="workflowCategory"
                      (selectionChange)="changeWorkflowCategory($event.value)" [id]="'workflowCategory'">
                      <mat-option *ngFor="let queue of categoryList"  value="{{queue.categoriesID}}">
                        {{queue.categoriesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="d-flex justify-content-end ">
                    <button mat-raised-button type="button" class="m-1 color-blue" [id]="'reject'" *ngIf="rejectButton" (click)="rejectworkData(queueForm.value)">{{'Reject'|
                      translate}}</button>
                    <button mat-raised-button type="button" class="color-blue m-1" [id]="'accept'" *ngIf="acceptButton"
                      (click)="acceptworkData(queueForm.value)">{{'Accept' | translate}}</button>
                  </div>
                </div>
              </ng-container>
              <!-- vehicle info -->
              <ng-container *ngIf="QueEnableList.vehicleInformationEnabled">
                <div class="conditional-cards mat-card p-2 mb-2">
                  <p class="blacked-title">{{'Vehicle Information' | translate}}</p>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Plate" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoPlate" [id]="'vehicleInfoPlate'" maxlength="10"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Make" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoMake" [id]="'vehicleInfoMake'"  maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Model" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoModel" [id]="'vehicleInfoModel'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Style" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoStyle" [id]="'vehicleInfoStyle'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Color" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoColor" [id]="'vehicleInfoColor'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Year" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoYear" [id]="'vehicleInfoYear'" maxlength="4"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editVehicleInformationEnabled"
                    [ngClass]="QueEnableList.editVehicleInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"VIN" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vehicleInfoVin"  [id]="'vehicleInfoVin'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"Vehicle Type" | translate}}</mat-label>
                    <mat-select formControlName="vehicleType" [id]="'vehicleType'">
                      <mat-option *ngFor="let queue of vehicleTypelist"  value="{{queue.vehicleTypesID}}">
                        {{queue.vehicleTypesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </ng-container>
              <!--Double Blind-->
              <ng-container *ngIf="QueEnableList.doubleBlindEnabled">
                <div class="conditional-cards mat-card p-2 mb-2">
                  <p class="blacked-title">{{"Double Blind" | translate}}</p>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"Plate" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="doubleBlind" [id]="'doubleBlind'" maxlength="8"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"State" | translate}}</mat-label>
                    <mat-select formControlName="doubleBlindState" [id]="'doubleBlindState'">
                      <mat-option *ngFor="let state of stateList"  value="{{state.stateProvincesID}}">
                        {{state.stateProvincesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="d-flex justify-content-end mb-3">
                    <button mat-raised-button class="m-1 color-blue" type="button"
                      (click)="clearDoubleblind()"  [id]="'clear'">{{'Clear'| translate}}</button>
                    <button mat-raised-button type="button" class="color-blue m-1"
                      (click)="verifyBlind(this.queueForm.value)" [id]="'verify'">{{'Verify' | translate}}</button>
                  </div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"DL State" | translate}}</mat-label>
                    <mat-select formControlName="doubleBlindDLState" [id]="'doubleBlindDLState'">
                      <mat-option *ngFor="let state of stateList"  value="{{state.stateProvincesID}}">
                        {{state.stateProvincesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"Reject Category" | translate}}</mat-label>
                    <mat-select formControlName="doubleBlindrejectCategory"  [id]="'doubleBlindrejectCategory'">
                      <mat-option *ngFor="let queue of categoryList" value="{{queue.categoriesName}}">
                        {{queue.categoriesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </ng-container>
              <!-- retrun to vr lookup -->
              <ng-container *ngIf="QueEnableList.dmvHistoryEnabled">
                <div class="conditional-cards mat-card p-2">
                  <p class="blacked-title">{{"Return to VR Lookup" | translate}}</p>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{"Plate" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="vrPlate" [id]="'vrPlate'" maxlength="8"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100 ">
                    <mat-label>{{"State Category" | translate}}</mat-label>
                    <mat-select formControlName="vrrejectCategory" [id]="'vrrejectCategory'" >
                      <mat-option *ngFor="let state of stateList" value="{{state.stateProvincesID}}">
                        {{state.stateProvincesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button class="m-1 color-blue" type="button"
                    (click)="returnVRlookup(this.queueForm.value)" [id]="'return'">{{'Return'| translate}}</button>

                </div>
              </ng-container>
              <!-- Registered Owner Information -->
              <ng-container *ngIf="QueEnableList.registeredOwnerInformationEnabled">
                <div class="conditional-cards mat-card p-2">
                  <p class="blacked-title">{{'Registered Owner Information'| translate}}</p>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"DL" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerInfoDl" [id]="'ownerInfoDl'" maxlength="25"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"DL State" | translate}}</mat-label>
                    <mat-select formControlName="ownerInfoDlstate" [id]="'ownerInfoDlstate'">
                      <mat-option *ngFor="let state of stateList"  value="{{state.stateProvincesID}}">
                        {{state.stateProvincesName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Business Name" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerBusinessname" [id]="'ownerBusinessname'" maxlength="50"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"DL- Class" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerInfoDlclass" [id]="'ownerInfoDlclass'" maxlength="50"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"First Name" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerInfofirstname" [id]="'ownerInfofirstname'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Last Name" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerInfolastname" [id]="'ownerInfolastname'" maxlength="20"
                      oninput="this.value=this.value.slice(0,this.maxLength)" />
                  </mat-form-field>
                  <div>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Co-owner name" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfoCoOwnername" [id]="'ownerInfoCoOwnername'" maxlength="50"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>
                    <mat-checkbox color="primary" [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled" [id]="'coOwnerCheckbox'"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      {{"Update Driver with co-owner" | translate}}
                    </mat-checkbox>
                    <div>
                      <mat-form-field appearance="fill" class="w-100"
                        [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                        [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                        <mat-label>{{"Co-owner licence number" | translate}}</mat-label>
                        <input type="Text" matInput formControlName="ownerInfoCoOwnerlicenceNo" [id]="'ownerInfoCoOwnerlicenceNo'" maxlength="25"
                          oninput="this.value=this.value.slice(0,this.maxLength)" />
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100"
                        [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                        [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                        <mat-label>{{"Co-owner DOB" | translate}}</mat-label>
                        <input type="date" [max]="getToday()" matInput formControlName="ownerInfoCoOwnerDOB" [id]="'ownerInfoCoOwnerDOB'" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"DOB of Driver" | translate}}</mat-label>
                      <input type="date" [max]="getToday()" matInput formControlName="ownerInfoCoOwnerDOBofdriver" [id]="'ownerInfoCoOwnerDOBofdriver'" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Gender" | translate}}</mat-label>
                      <mat-select formControlName="ownerInfogender" [id]="'ownerInfogender'">
                        <mat-option *ngFor="let gender of genderList" value="{{gender.gendersID}}" >
                          {{gender.gendersName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Eye Color" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfoeyeColor"  [id]="'ownerInfoeyeColor'" maxlength="20"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Hair Color" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfohaircolor" [id]="'ownerInfohaircolor'" maxlength="20"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Height of Driver" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfoheight" [id]="'ownerInfoheight'" maxlength="3"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Weight of Driver" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfoWeight" [id]="'ownerInfoWeight'" maxlength="3"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Street 1" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfostreet1" [id]="'ownerInfostreet1'" maxlength="50"
                        oninput="this.value=this.value.slice(0,this.maxLength)" appNotAllowWhiteSpaceStart />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Street 2" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfostreet2" [id]="'ownerInfostreet2'" maxlength="50"
                        oninput="this.value=this.value.slice(0,this.maxLength)" appNotAllowWhiteSpaceStart />
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="fill" class="w-100"
                    [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                    [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                    <mat-label>{{"Street 3" | translate}}</mat-label>
                    <input type="Text" matInput formControlName="ownerInfostreet3" [id]="'ownerInfostreet3'" maxlength="50"
                      oninput="this.value=this.value.slice(0,this.maxLength)" appNotAllowWhiteSpaceStart />
                  </mat-form-field>
                  <div>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Owner Address City" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfoaddress" [id]="'ownerInfoaddress'" maxlength="20"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"State" | translate}}</mat-label>
                      <mat-select formControlName="ownerInfoState" [id]="'ownerInfoState'">
                        <mat-option *ngFor="let state of stateList"  value="{{state.stateProvincesID}}">
                          {{state.stateProvincesName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100"
                      [disabled]="!QueEnableList.editRegisteredOwnerInformationEnabled"
                      [ngClass]="QueEnableList.editRegisteredOwnerInformationEnabled === false ? 'disable-field pb-0 border-bottom-black' : ''">
                      <mat-label>{{"Zip" | translate}}</mat-label>
                      <input type="Text" matInput formControlName="ownerInfozip" [id]="'ownerInfozip'" maxlength="9"
                        oninput="this.value=this.value.slice(0,this.maxLength)" />
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
              <ng-container>
                <button mat-raised-button class="m-1 skip-button" type="button"  [id]="'skip'" (click)="skiptoNextevent()"
                   >{{'Skip'| translate}}</button>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

</div>