.m-12-0 {
  margin: 12rem 0rem;
}
.btn-block {
  display: block;
  width: 50%;
}
.login {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.login-btn {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.mat-form-field-infix {
  width: 290px !important;
}
.login h1 {
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 100px;
}
mat-form-field {
  width: 100%;
}
