<h3 class="header-title">
    {{'Disposition Code' | translate}}
</h3>

<div class="container-fluid">
    <div *ngIf="showAddForm || showEditForm">
        <form [formGroup]="dispositionCodeForm" (ngSubmit)="addDespCodeRecord(dispositionCodeForm.value)">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100" [disabled]="showEditForm"
                        [ngClass]="showEditForm == true ? 'disable-field pb-0 border-bottom-black' : ''">
                        <mat-label>{{'Disposition Code' | translate}}</mat-label>
                        <input type="number" matInput formControlName="dispCode" [id]="'dispCode'" min="1" maxlength="3"
                            oninput="this.value=this.value.slice(0,this.maxLength)" tabindex="-1"/>
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('dispCode')?.hasError('required')"
                            [id]="'errordispCode1'">
                            {{ 'DispCode is Required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="dispositionCodeForm.get('dispCode')?.hasError('invalid')"
                            [id]="'errordispCode2'">
                            {{ dispositionCodeForm.get('dispCode')?.getError('invalid') |
                            translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'Class' | translate}}</mat-label>
                        <input matInput type="text" maxlength="2" formControlName="dispClass" [id]="'dispClass'" />
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'Full Name' | translate}}</mat-label>
                        <input matInput type="text" formControlName="dispNameLong" [id]="'dispNameLong'"
                            maxlength="20" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('dispNameLong')?.hasError('required')"
                            [id]="'errordispNameLong1'">
                            {{ 'DispNameLong is Required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="dispositionCodeForm.get('dispNameLong')?.hasError('invalid')"
                            [id]="'errordispNameLong2'">
                            {{ 'Full Name cannot be empty' |
                            translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label> {{'Short Name' | translate}}</mat-label>
                        <input matInput type="text" formControlName="dispName" [id]="'dispName'" maxlength="10" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('dispName')?.hasError('required')"
                            [id]="'errordispName1'">
                            {{ 'DispName is Required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="dispositionCodeForm.get('dispName')?.hasError('invalid')"
                            [id]="'errordispName2'">
                            {{ 'Short Name cannot be empty' |
                            translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'Priority' | translate}}</mat-label>
                        <input type="number" matInput formControlName="dispPriority" [id]="'dispPriority'" min="1"
                            maxlength="2" oninput="this.value=this.value.slice(0,this.maxLength)" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('dispPriority')?.hasError('required')"
                            [id]="'errordispPriority'">
                            {{ 'DispPriority is Required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'Rule' | translate}}</mat-label>
                        <mat-select formControlName="dispRule" [id]="'dispRule'"
                            (selectionChange)="ruleDescSelect($event)">
                            <mat-option *ngFor="let rule of ruleDesc" [value]="rule.dispRule">{{rule.dispRule}}
                                ({{rule.dispDescription}})</mat-option>
                        </mat-select>
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('dispRule')?.hasError('required')"
                            [id]="'errordispRule1'">
                            {{ 'DispRule is Required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="dispositionCodeForm.get('dispRule')?.hasError('invalid')"
                            [id]="'errordispRule2'">
                            {{ dispositionCodeForm.get('dispRule')?.getError('invalid') |
                            translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'Active' | translate}}</mat-label>
                        <mat-select formControlName="active" [id]="'active'">
                            <mat-option selected value="Y">Y</mat-option>
                            <mat-option value="N">N</mat-option>
                            <mat-option value="R">R</mat-option>
                            <mat-option value=" "></mat-option>
                        </mat-select>
                        <!-- ERRORS -->
                        <mat-error *ngIf="dispositionCodeForm.get('active')?.hasError('required')" [id]="'erroractive'">
                            {{ 'Active is Required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="align-items-end col-md-12 mb-4 d-flex justify-content-end">
                    <button mat-raised-button class="m-1 color-blue" [id]="'cancel'"
                        (click)="cancelAdd_Save()">{{'Cancel'| translate}}</button>
                    <button mat-raised-button class="m-1 color-blue" [id]="'addForm'" type="submit" *ngIf="showAddForm">
                        {{'Add' |translate}}</button>
                    <button type="button" mat-raised-button class="m-1 color-blue" [id]="'save'" *ngIf="showEditForm"
                        (click)="updateDespCodeRecord(dispositionCodeForm.value)">
                        {{'Save' |translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Search Bar -->
    <div [hidden]="showAddForm || showEditForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="align-items-center d-flex row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ "Search" | translate }}</mat-label>
                            <input matInput placeholder="Type" #search [id]="'search'" (keyup)="applyFilter($event)" />
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <button mat-raised-button appearance="fill" class="m-1 color-blue"
                                (click)="showAddFormPage()" [id]="'add'">
                                {{ "Add" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                <!-- Disposition Code -->
                <ng-container matColumnDef="dispCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Disposition Code" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-right">{{
                        element.dispCode }}</td>
                </ng-container>
                <!-- Class -->
                <ng-container matColumnDef="dispClass">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Class" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.dispClass }}</td>
                </ng-container>
                <!-- Full Name -->
                <ng-container matColumnDef="dispNameLong">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Full Name" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.dispNameLong }}</td>
                </ng-container>
                <!-- Short Name -->
                <ng-container matColumnDef="dispName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Short Name" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.dispName }}</td>
                </ng-container>
                <!-- Priority -->
                <ng-container matColumnDef="dispPriority">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Priority" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{
                        element.dispPriority }}</td>
                </ng-container>
                <!-- Rule -->
                <ng-container matColumnDef="dispRule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Rule" | translate }} ({{"Rule Description" | translate}})</th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        {{element.dispRule}} ({{element.dispDescription}})</td>
                </ng-container>
                <!-- Active -->
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Active" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{
                        element.active }}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Action">
                    <tr>
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            {{'Action' | translate}}</th>
                    </tr>
                    <tr>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button mat-icon-button color="dark-grey" [id]="'edit'" title="{{'Edit' | translate }}">
                                <mat-icon class="edit-blue" (click)="editIconClicked(element)">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="dark-grey" [id]="'delete'" title="{{'Delete' | translate }}">
                                <mat-icon class="color-light-gray"
                                    (click)="deleteDespCodeRecord(element.dispositionId)">
                                    delete</mat-icon>
                            </button>
                        </td>
                    <tr>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="col-sm-12 text-center" [hidden]="dataSource.filteredData?.length !== 0">
                {{'No records found' | translate}}</div>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons [id]="'page'"
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>