.full-width-table {
  width: 100%;
}
.open-account .mat-form-field-wrapper {
  padding: 0;
  outline: none;
}
/*tables*/

::ng-deep .mat-form-field-underline {
  display: none;
}
.open-account .mat-form-field-wrapper.ng-tns-c35-7 {
  padding: 0;
  margin-left: 10px;
}
/*table css end*/
