.form{
    flex: 1;
}
.notice-submit{
    height: 52px;
}

.visibilityIcon:hover{
    cursor: pointer;
}

.header-checkbox {
    margin: 0;
}
.notice-searchBar {
    background: #55585a;
   ::ng-deep .mat-form-field-flex{
       background-color: #fff;   
   }
}
.opacity-0{
    opacity: 0;
}
.date-select-input{
    ::ng-deep .mat-form-field-flex{
        padding: 6px 10px;   
    }
}
.state-drop-down
{
    min-width: 80px;
}

.table-border {
    border: 1px solid #ccc;

    table {
        th {
            text-transform: capitalize;

            mat-checkbox {
                color: #fff;

                ::ng-deep {
                    .mat-checkbox-frame {
                        border-color: white
                    }
                }
            }
        }

        td {
            border-top: 0;
            border-bottom: 0;
        }

        tr {

            &:last-child {
                box-shadow: inset 0px -3px 0px -2px #ccc;
            }
        }

        .header-checkbox {
            ::ng-deep {
                label {
                    margin: 0;
                }
            }

            ::ng-deep {
                .mat-checkbox-frame {
                    border-color: white
                }
            }
        }
    }
}

.plate-id-error
{
    font-size: 8px;
    min-width: max-content;
    font-weight: 700;
    margin-left: -10px;
}