.plate-info-link {
    color: #007bff !important;
    cursor: pointer;
}

.open-account {
    margin-left: 10px;
    box-sizing: border-box;

    ::ng-deep {
        .mat-form-field-flex {
            padding: 0.4em 0.35em 0.1em 0.35em;
            box-sizing: border-box;
            height: 40px;
        }
    }
}



.search-event-entity {
    ::ng-deep {
        .mat-form-field-flex {
            padding: 0.4em 0.35em 0.1em 0.35em;
            box-sizing: border-box;
            height: 40px;
        }
    }
}

.action-icons-search {
    margin-top: 18px;
    z-index: 1;
    .disabled{
        background-color: #dadddc !important;
        color: #000;
    }
}

.entity-icons-group.eventicons button {
    height: 40px;
    min-width: 44px;
    width: 44px;
}


.event-button {
    padding: 0 10px 0 10px;
    border-radius: 0;
    margin-bottom: 1px;
    min-height: 40px;
    height: 40px;
    background-color: #55585a;
  }
  
  
  .entity-button {
    padding: 0 10px 0 10px;
    border-radius: 0;
    margin-left: 1px !important;
    margin-bottom: 1px;
    min-height: 40px;
    height: 40px;
    background-color: #55585a;
  }

  .color-text {
    color: #468cff!important;
  }

  .custom-suffle {
    width: 1024px !important;

}
.col-md-6.toggled-flex.col-md-12 {
    display: block;

    // .item-grid:first-child {
    //     margin-left: 0 !important;
    // }

    .item-grid {
        width: 31.9%;
        float: left;
        margin: 5px;


    }
}
// .right-wrp {
//     background: #dadddc;
//     padding: 8px;
//     border: 1px solid #bababa;
//     height: 100%;
// }
.layoutLinks {
    position: absolute;
    top: 50px !important;
    right:50px !important;
}
.layoutLinks a{
    color: blue;
    margin-left: 15px;
    cursor: pointer;
  }
  // .layoutLinks a:active {
  //   color: blue;
  // }
  .active-layout {
    color: #dd51b8 !important;
  }
