<!-- <div>
    <app-plate-info></app-plate-info>
</div> -->

<div class="row event-detail mt-3">
    <div class="col-md-6 pl-4">
        <div class="gallery-wrapper">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
    </div>
    <div class="col-md-6 pr-5">
        <div class="d-flex flex-wrap">
            <mat-card class="mat-card mat-focus-indicator mb-3 p-0">
                <p class="blacked-title m-0">Violation detail</p>
                <mat-card-content class="mat-card-content p-2 pt-0">
                    <div class="innergrid border-0">
                        <table>
                            <tr>
                                <td>Description</td>
                                <td class="text-right">H</td>
                            </tr>
                            <tr>
                                <td>Violation Code</td>
                                <td>H</td>
                            </tr>
                            <tr>
                                <td>Issue Date</td>
                                <td>H</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>H</td>
                            </tr>
                            <tr>
                                <td>Issuing Officer</td>
                                <td>H</td>
                            </tr>
                            <tr>
                                <td>Related Violations</td>
                                <td>H</td>
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card mat-focus-indicator">
                <p _ngcontent-php-c337="" class="blacked-title m-0">(Location Symbol)Payments</p>
                <mat-card-content class="mat-card-content">
                    <div class="innergrid border-0">
                        <table>
                            <tr>
                                <td>Fine</td>
                                <td>New</td>
                            </tr>
                            <tr>
                                <td>Penalty1</td>
                                <td>INFIN</td>
                            </tr>
                            <tr>
                                <td>Penalty2</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>Penalty3</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>Penalty4</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>Penalty5</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>Reduction</td>
                                <td>SUBN</td>
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>