<h3 class="header-title">
    {{'Client Payment Type' | translate}}
</h3>

<!-- add form -->
 <div class="container-fluid"   *ngIf="showAddForm">
        <form   [formGroup]="clientPaytypeForm" 
      (ngSubmit)="addClientPayType(clientPaytypeForm.value)">
                <div class="row">
                    <div class="col-md-3 disabled-border-bottom">
                        <mat-form-field appearance="fill" class="w-100"  [disabled]="showEditForm" [ngClass]="showEditForm == true ? 'disable-field pb-0 border-bottom-black' : ''">
                            <mat-label>{{'Payment Type' | translate }}</mat-label>
                
                            <mat-select  formControlName="paymentSourceShortName"  (selectionChange)="clientPaymentSelected($event)"  [id]="'paymentSourceShortName'" >
                                <mat-option  *ngFor="let item of clientPayment" [value]="item.paymentSourceMasterShortName">{{item.paymentSourceMasterShortName}}</mat-option>
                            </mat-select>

                    <mat-error *ngIf="clientPaytypeForm.get('paymentSourceShortName')?.hasError('required')" [id]="'ErrorpaymentSourceShortName1'">
                        {{'Payment Type is Required' | translate }}  
                    </mat-error>
                  <mat-error *ngIf="clientPaytypeForm.get('paymentSourceShortName')?.hasError('invalid')"  [id]="'ErrorpaymentSourceShortName'" >
                    {{ clientPaytypeForm.get('paymentSourceShortName')?.getError('invalid') | translate}}
                  </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill" class="w-100 disable-field pb-0 border-bottom-black" [disabled]="showEditForm" [ngClass]="showEditForm == true ? 'disable-field pb-0 border-bottom-black' : ''">
                            <mat-label>{{'Description' | translate }}</mat-label>
                    
                        <input type="text"  matInput   matInput [id]="'dec'" 
                        name="Description"
                        formControlName="paymentSourceLongName"
                        required readonly
                        maxlength="20" />
                        <mat-error  [id]="'Errordec'"  *ngIf="clientPaytypeForm.get('paymentSourceLongName')?.hasError('required')">
                    {{'Description is Required' | translate }}
                    </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>{{ "Order By" | translate }}</mat-label>
                                    <input matInput placeholder="Type"   
                                    matInput [id]="'OrderBy'" 
                        name="Order By" min="0"
                        formControlName="acctNumberInt"
                        required type="number" maxlength="2" oninput="this.value=this.value.slice(0,this.maxLength)"
                         />

                                <!-- ERRORS -->
                          
                            <mat-error  [id]="'ErroracctNumberInt'" *ngIf="clientPaytypeForm.get('acctNumberInt')?.hasError('invalid')">
                                {{ clientPaytypeForm.get('acctNumberInt')?.getError('invalid') |
                                translate }}
                            </mat-error>
                            <mat-error [id]="'ErroracctNumberInt1'"  *ngIf="!clientPaytypeForm.get('acctNumberInt')?.hasError('invalid')">
                                {{'Order By must be greater than zero' |translate }}
                            </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-end col-md-3 mb-3 d-flex justify-content-end">
                        <button type="button" mat-raised-button class="m-1 color-blue" [id]="'Cancel'"   (click)="cancelClientpay()">
                            {{'Cancel' | translate}}</button>

                        <button mat-raised-button class="m-1 color-blue"  [id]="'Add1'" *ngIf="addclientPaytypeFormbtn">{{'Add' | translate}}</button>

                        <button mat-raised-button class="m-1 color-blue" [id]="'Save'" type="button" *ngIf="!addclientPaytypeFormbtn" (click)="updateclientPay(clientPaytypeForm.value)">{{'Save' | translate}}</button>
                    </div>
                
                </div>
      </form>
</div>

<!--  search bar and table -->
<div class="container-fluid"   [hidden]="showAddForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="align-items-center d-flex row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ "Search" | translate }}</mat-label>
                        <input matInput placeholder="Type" matInput [id]="'Search1'"
                         placeholder="Type"  #search 
                         (keyup)="applyFilter($event)"
                      />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <button mat-raised-button class="m-1 color-blue" [id]="'Add2'"  (click)="addClientpay()">
                            {{ 'Add' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="mat-elevation-z8">
  <table  mat-table [dataSource]="dataSource" matSortDisableClear matSort class="mat-elevation-z8" >

    <ng-container matColumnDef="paymentSourceShortName">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ "Payment Type" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.paymentSourceShortName}} </td>
    </ng-container>

    <ng-container matColumnDef="paymentSourceLongName">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ "Description" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.paymentSourceLongName }} </td>
    </ng-container>


    <ng-container matColumnDef="acctNumberInt">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ "Order By" | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-right"> {{element.acctNumberInt}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th  mat-header-cell *matHeaderCellDef>{{ "Action" | translate }} </th>
     <td mat-cell *matCellDef="let row" class="text-center">
                <button mat-icon-button color="dark-grey" [id]="'Edit'" title="{{'Edit' | translate }}" (click)="editClientpay(row)">
                  <mat-icon class="edit-blue">edit</mat-icon>
                </button>
               <button mat-icon-button color="dark-grey" [id]="'Delete'"  title="{{'Delete' | translate }}" (click)="deleteClientpay(row)">
                  <mat-icon class="color-light-gray">delete</mat-icon>
                </button>
               
              </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="col-sm-12 text-center" *ngIf="dataSource.filteredData?.length === 0"> {{'No records found' | translate}}</div> 
        <mat-paginator
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons
       
      ></mat-paginator>
</div>
</div>



