<h3 class="header-title">
    {{'Agencies' | translate}}
</h3>

<div class="container-fluid">
    <!-- Add/Edit Form -->
    <div *ngIf="showAddForm || showEditForm">
        <form [formGroup]="agenciesForm" (ngSubmit)="addAgencyRecord(agenciesForm.value)">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Name" | translate}}</mat-label>
                        <input type="text" matInput formControlName="name" [id]="'name'" maxlength="40" />

                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('name')?.hasError('required')" [id]="'errorName'">
                            {{ 'Agency Name is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Payment Vendor" | translate}}</mat-label>
                        <mat-select formControlName="payVendor" [id]="'payVendor'"
                            (selectionChange)="payVendorSelect($event)">
                            <mat-option *ngFor="let vendors of paymentVendorList" [value]="vendors.paymentVendorsID">
                                {{vendors.paymentVendorsName}}
                            </mat-option>
                        </mat-select>
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('payVendor')?.hasError('required')" [id]="'errorpayVendor'">
                            {{ 'Payment Vendor is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Receipt WorkflowState" | translate}}</mat-label>
                        <mat-select formControlName="workflow" [id]="'workflow'"
                            (selectionChange)="workflowStateSelect($event)">
                            <mat-option *ngFor="let workflow of workflowState" [value]="workflow.workflowStatesID">
                                {{workflow.workflowStatesName}}</mat-option>
                        </mat-select>
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('workflow')?.hasError('required')" [id]="'errorworkflow'">
                            {{ 'Receipt WorkflowState is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Payment Link" | translate}}</mat-label>
                        <input type="text" matInput formControlName="payLink" [id]="'payLink'" maxlength="500" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('payLink')?.hasError('required')" [id]="'errorpayLink'">
                            {{ 'Payment Link is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"PayByWeb Client Code" | translate}}</mat-label>
                        <input type="number" matInput formControlName="payByWeb" [id]="'payByWeb'" min="1" maxlength="3"
                            oninput="this.value=this.value.slice(0,this.maxLength)" />
                        <mat-error *ngIf="agenciesForm.get('payByWeb')?.hasError('required')" [id]="'errorpayByWeb'">
                            {{ 'PayByWeb Client Code is required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Street Line1" | translate}}</mat-label>
                        <input type="text" matInput formControlName="line1" [id]="'line1'" maxlength="35" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('line1')?.hasError('required')" [id]="'errorline1'">
                            {{ 'Street Address is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Street Line2" | translate}}</mat-label>
                        <input type="text" matInput formControlName="line2" [id]="'line2'" maxlength="35" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"City" | translate}}</mat-label>
                        <input type="text" matInput formControlName="city" [id]="'city'" maxlength="20" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('city')?.hasError('required')" [id]="'errorcity'">
                            {{ 'City is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"State / Province" | translate}}</mat-label>
                        <mat-select formControlName="state" [id]="'state'" (selectionChange)="stateSelect($event)">
                            <mat-option *ngFor="let state of statesList" [value]="state.stateProvincesID">
                                {{state.abbreviation}} - {{state.stateProvincesName}}</mat-option>
                        </mat-select>
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('state')?.hasError('required')" [id]="'errorstate'">
                            {{ 'State Province is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Zip Code" | translate}}</mat-label>
                        <input type="number" matInput formControlName="zip" [id]="'zip'" min="0" maxlength="10"
                            oninput="this.value=this.value.slice(0,this.maxLength)" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('zip')?.hasError('required')" [id]="'errorzip'">
                            {{ 'Zip Code is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Phone" | translate}}</mat-label>
                        <input type="number" matInput formControlName="phone" [id]="'phone'" min="0" maxlength="10"
                            oninput="this.value=this.value.slice(0,this.maxLength)" />
                        <!-- ERRORS -->
                        <mat-error *ngIf="agenciesForm.get('phone')?.hasError('required')" [id]="'errorphone'">
                            {{ 'Phone is required' | translate }}
                        </mat-error>
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Image Error Message" | translate}}</mat-label>
                        <input type="text" matInput formControlName="imageError" [id]="'imageError'" maxlength="150" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Video Error Message" | translate}}</mat-label>
                        <input type="text" matInput formControlName="videoError" [id]="'videoError'" maxlength="150" />
                    </mat-form-field>
                    <mat-checkbox color="primary" formControlName="enable" [id]="'enable'">
                        {{"Enable Maintenance Page" | translate}}
                    </mat-checkbox>

                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100 disable-field pb-0 border-bottom-black" [disabled]="true">
                        <mat-label>{{"Logo Link" | translate}}</mat-label>
                        <input type="text" matInput formControlName="logoLink" [id]="'logoLink'" maxlength="150" tabindex="-1"/>
                        <!-- ERRORS -->
                        <!-- <mat-error *ngIf="agenciesForm.get('logoLink')?.hasError('required')" [id]="'errorlogoLink'">
                            {{ 'Logo Link is required' | translate }}
                        </mat-error> -->
                        <!-- ERRORS -->
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"Comments" | translate}}</mat-label>
                        <input type="text" matInput formControlName="comments" [id]="'comments'" maxlength="3500" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 align-items-center mt-3">
                    <mat-label> {{'Upload Logo' | translate}}</mat-label>
                    <div class="button-wrap position-relative">
                        <div class="d-flex">
                            <label for="upload-logo" class="custom-file-upload logo-file mt-1 h-45 d-flex ">
                                <input #fileInput type="file" hidden id="upload-logo" formControlName="logoUpload"
                                    (change)="handleFileInput($event.target)" accept="image/png,image/jpeg">
                                <button mat-raised-button type="button" class="m-1 color-blue w-120px"
                                    [id]="'chooseFile'" (click)="fileInput.click()">
                                    {{"Choose File" | translate}}</button>
                                {{file}}
                            </label>
                        </div>
                        <span [id]="'errormsg'" class="f-12">
                            {{'Please Upload file only JPEG/PNG format' |translate }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="align-items-end col-md-12 mb-4 d-flex justify-content-end">
                <button mat-raised-button class="m-1 color-blue" [id]="'cancel'" (click)="cancelAdd_Save()">
                    {{'Cancel'| translate}}</button>
                <button mat-raised-button class="m-1 color-blue" [id]="'addForm'" type="submit" *ngIf="showAddForm">
                    {{'Add' |translate}}</button>
                <button type="button" mat-raised-button class="m-1 color-blue" [id]="'save'" *ngIf="showEditForm"
                    (click)="updateAgencyRecord(agenciesForm.value)">
                    {{'Save' |translate}}</button>
            </div>
        </form>
    </div>
    <!-- Search Bar -->
    <div [hidden]="showAddForm || showEditForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="align-items-center d-flex row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ "Search" | translate }}</mat-label>
                            <input matInput #search placeholder="Type" [id]="'search'" (keyup)="applyFilter($event)" />
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <div class="text-right" [hidden]="hideAddBtn">
                            <button mat-raised-button appearance="fill" class="m-1 color-blue"
                                (click)="showAddFormPage()" [id]="'add'">
                                {{ "Add" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                <!-- Name -->
                <ng-container matColumnDef="agenciesName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Name" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.agenciesName }}</td>
                </ng-container>
                <!-- Payment Link -->
                <ng-container matColumnDef="paymentVendorsLink">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Payment Link" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.paymentVendorsLink }}</td>
                </ng-container>
                <!-- Payment Vendor -->
                <ng-container matColumnDef="paymentVendorsName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Payment Vendor" | translate }}</th>
                    <td mat-cell *matCellDef="let element" class="text-left">{{
                        element.paymentVendorsName }}</td>
                </ng-container>
                <!-- Action -->
                <ng-container matColumnDef="Action">
                    <tr>
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            {{'Action' | translate}}</th>
                    </tr>
                    <tr>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button mat-icon-button color="dark-grey" title="{{'Edit' | translate }}"
                                (click)="editIconClicked(element)" [id]="'edit'">
                                <mat-icon class="edit-blue">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="dark-grey" [id]="'Disable'"
                                (click)="toggleAgency(element.paymentAgenciesID, element.active)" *ngIf="element.active"
                                title="{{'Disable' | translate }}">
                                <mat-icon class="color-red">block</mat-icon>
                            </button>

                            <button mat-icon-button color="dark-grey" [id]="'Enable'" title="{{'Enable' | translate }}"
                                (click)="toggleAgency(element.paymentAgenciesID, element.active)"
                                *ngIf="!element.active">
                                <mat-icon class="color-green">done_outline</mat-icon>
                            </button>
                        </td>
                    <tr>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="col-sm-12 text-center" [hidden]="dataSource.filteredData?.length !== 0">
                {{'No records found' | translate}}</div>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons [id]="'page'"
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>