 

 
 <div class="container">
    <div class="row">
        <mat-card></mat-card>
    </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <div class="container-fluid"> 
    <div class="outer-box">
        <div class="container-fluid">
            <div class="row">
                <div class="top-table">
                    <div class="icon">
                        <div class="eventicons d-flex justify-content-center">
                            <button mat-button>
                                <img src=" ./assets/images/Add%20Ticket.png" />
                            </button>
                            <button mat-button>
                                <img src="./assets/images/Group%207658.svg" />
                            </button>
                            <button mat-button>
                                <img src="./assets/images/Group%208243.svg" />
                            </button>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <img src="./assets/images/Group%208102.svg" />
                            </button>
                            <button mat-button>
                                <img src="./assets/images/Group%208257.svg" />
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Xl</button>
                                <button mat-menu-item>Xl Detail</button>
                                <button mat-menu-item>PDF</button>
                                <button mat-menu-item>CSV</button>
                                <button mat-menu-item>Print</button>
                            </mat-menu>
                        </div>


                        <div class="plates">
                            <ul>
                                <li>
                                    <mat-icon>keyboard_arrow_left</mat-icon><a href=""><span>PREVIOUS
                                            PLATE</span></a>
                                </li>
                                <li><a href=""><span>NEXT PLATE</span>
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6  mr-0 pr-0">
                <div class="row">

                    <div class="col-md-6 border-right-1 mr-0 pr-0 ">
                        <p class="blacked-title border-0 m-0">Plate Identification</p>
                        <div class="innergrid">
                            <table>

                                <tr>
                                    <td>CA6ROH333</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>VIN</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>Registration Expiration</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>Entity Number</td>
                                    <td>15903561</td>

                                </tr>

                            </table>
                            <hr>
                            <table>

                                <tr>
                                    <td>Source</td>
                                    <td>REGISTRY(02/20/2022)<p>DMV INQUIRY</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>ICon</td>


                                </tr>



                            </table>
                        </div>

                    </div>

                    <div class="col-md-6 border-right-1 ml-0 pl-0">

                        <p class="blacked-title border-0 m-0">Owner Identification</p>

                        <div class="innergrid">
                            <table>

                                <tr>
                                    <td>Name</td>
                                    <td><b>Jhon</b></td>

                                </tr>
                                <tr>
                                    <td>VIN</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>Driver's license</td>
                                    <td><b>123456789</b></td>

                                </tr>
                                <tr>
                                    <td>DOB</td>
                                    <td><b>05/01/2022</b></td>

                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><b>Text</b></td>

                                </tr>

                                <tr>
                                    <td>Phone Number</td>
                                    <td><b>123456789</b></td>

                                </tr>
                                <tr>
                                    <td>Ownership Start</td>
                                    <td><b>11/06/2022</b></td>

                                </tr>

                                <tr>
                                    <td>ICON</td>


                                </tr>

                            </table>


                        </div>

                    </div>

                </div>
            </div>
            <div class="col-6  ml-0 pl-0">
                <mat-tab-group>
                    <mat-tab label="First">
                        <div class="innergrid border-0">
                            <table>

                                <tr>
                                    <td>Open Tickets</td>
                                    <td><b>1</b></td>

                                </tr>
                                <tr>
                                    <td>Close Tickests</td>
                                    <td><b>22</b></td>

                                </tr>
                                <tr>
                                    <td>Boot Eligibile Ticket</td>
                                    <td><b>0</b></td>

                                </tr>
                                <tr>
                                    <td>Marked Held Tickets/td>
                                    <td><b>0</b></td>

                                </tr>


                            </table>


                        </div>

                    </mat-tab>
                    <mat-tab label="Second">
                        <div class="innergrid border-0">
                            <table class="Second-table">

                                <tr>
                                    <td>Fines</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Penalties</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Plate Fee</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Fines</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Payments</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Reductions</td>
                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>
                                <tr>
                                    <td>Amount Due</td>

                                    <td>$190.00 <span class="material-icons blue-icon">expand_more</span></td>

                                </tr>


                            </table>


                        </div>
                    </mat-tab>
                    <mat-tab label="Third">
                        <div class="innergrid border-0">
                            <table>

                                <tr>
                                    <td>Notes</td>
                                    <td><a>View</a></td>

                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>CB Fraud</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>Pre Marked</td>
                                    <td>-</td>

                                </tr>
                                <tr>
                                    <td>DVM Hold</td>
                                    <td>-</td>

                                </tr>


                            </table>


                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div> 



<!----New Queue----->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 pr-0">
            <div class="card">
                <div class="card-header">
                    New Queue
                </div>
                <div class="card-body">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Queue Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Queue Type</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Age Threshold</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Status Entrance Threshold</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Count Threshold</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <section class="example-section">
                        <mat-checkbox color="primary">Allow cloning?</mat-checkbox>
                    </section>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Cloning Form</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card">
                <mat-tab-group mat-align-tabs="start" class="queuetab">
                    <mat-tab label="Configuration" class="confi-tab">
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Select All</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Neighbor Listing Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">DMV History Enabled</mat-checkbox>
                                    </section>
                                </div>

                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">DRC Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Plate Example Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Previous Decision Enabled</mat-checkbox>
                                    </section>
                                </div>

                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Skip Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Carry Over Previous Category</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Is PR Lookup</mat-checkbox>
                                    </section>
                                </div>

                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">License Plate edit Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Vehicle Information Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">DMV Return Enabled</mat-checkbox>
                                    </section>
                                </div>

                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Image Edid Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Edit Vehicle Information Enabled</mat-checkbox>
                                    </section>
                                </div>

                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Image Revert Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Registered Owner Information Enabled
                                        </mat-checkbox>
                                    </section>
                                </div>

                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Image Delete Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Edit Registered Owner Information Enabled
                                        </mat-checkbox>
                                    </section>
                                </div>

                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Video Frame Capture Enabled</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section class="example-section">
                                        <mat-checkbox color="primary">Duble Blind Enabled</mat-checkbox>
                                    </section>
                                </div>

                            </div>
                        </div>


                    </mat-tab>
                    <mat-tab label="Behaviors, Actions & Transitions" class="behav-tab">
                        <div class="card-body  m-0 p-0">
                            <div class="row m-0 p-0">
                                <diV class="col-md-4  m-0 p-0">
                                    <div class="hold-gid">
                                        <p class="list-group-header">Behaviors </p>
                                        <ul class="list-group">

                                            <li class="list-group-item">
                                                <div class="clearfix">
                                                    <div class="left-cont">
                                                        <div class="title-BAT">Behaviors 1</div>
                                                    </div>
                                                    <div class="right-cont">
                                                        <div class="Icon-right">
                                                            <button mat-icon-button color="dark-grey" [id]="'Edit'"
                                                                title="{{'Edit' | translate }}">
                                                                <mat-icon class="edit-blue">edit</mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="dark-grey" [id]="'Delete'"
                                                                title="{{'Delete' | translate }}">
                                                                <mat-icon class="color-light-gray">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-inline-row">
                                                    <div class="nav-icon">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </div>
                                                    <ul class="d-flex w-100 justify-content-between m-0 p-0">

                                                        <li>
                                                            <p>Trigger</p>

                                                            <b>Entrance</b>
                                                        </li>
                                                        <li>
                                                            <p>Registration Hold</p>

                                                            <b>yes</b>

                                                        </li>
                                                        <li>
                                                            <p>Type</p>

                                                            <b>XML Export</b>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="clearfix">
                                                    <div class="left-cont">
                                                        <div class="title-BAT">Behaviors 1</div>
                                                    </div>
                                                    <div class="right-cont">
                                                        <div class="Icon-right">
                                                            <button mat-icon-button color="dark-grey" [id]="'Edit'"
                                                                title="{{'Edit' | translate }}">
                                                                <mat-icon class="edit-blue">edit</mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="dark-grey" [id]="'Delete'"
                                                                title="{{'Delete' | translate }}">
                                                                <mat-icon class="color-light-gray">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-inline-row">
                                                    <div class="nav-icon">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </div>
                                                    <ul class="d-flex w-100 justify-content-between m-0 p-0">

                                                        <li>
                                                            <p>Trigger</p>

                                                            <b>Entrance</b>
                                                        </li>
                                                        <li>
                                                            <p>Registration Hold</p>

                                                            <b>yes</b>

                                                        </li>
                                                        <li>
                                                            <p>Type</p>

                                                            <b>XML Export</b>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="footer-box">
                                            <p>
                                                <mat-icon>add_circle</mat-icon><span>Behaviors</span>
                                            </p>
                                        </div>
                                    </div>
                                </diV>
                                <diV class="col-md-4  m-0 p-0">
                                    <div class="hold-gid">
                                        <p class="list-group-header">Actions</p>
                                        <ul class="list-group">

                                            <li class="list-group-item">
                                                <div class="clearfix">
                                                    <div class="left-cont">
                                                        <div class="title-BAT">Actions 1</div>
                                                    </div>
                                                    <div class="right-cont">
                                                        <div class="Icon-right">
                                                            <button mat-icon-button color="dark-grey" [id]="'Edit'"
                                                                title="{{'Edit' | translate }}">
                                                                <mat-icon class="edit-blue">edit</mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="dark-grey" [id]="'Delete'"
                                                                title="{{'Delete' | translate }}">
                                                                <mat-icon class="color-light-gray">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-inline-row">
                                                    <ul class="d-flex w-100 justify-content-between m-0 p-0">

                                                        <li>
                                                            <p>Category</p>

                                                            <b>Category 1</b>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="clearfix">
                                                    <div class="left-cont">
                                                        <div>
                                                            <mat-form-field class="w-100">
                                                                <mat-label>Action Name</mat-label>
                                                                <input matInput>
                                                            </mat-form-field>
                                                            <mat-form-field class="w-100">
                                                                <mat-label>Category</mat-label>
                                                                <mat-select>
                                                                    <mat-option value="one">First option</mat-option>
                                                                    <mat-option value="two">Second option</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="right-cont">
                                                        <div class="Icon-right">
                                                            <button mat-icon-button color="dark-grey" [id]="'Edit'"
                                                                title="{{'Edit' | translate }}">
                                                                <mat-icon class="edit-blue">edit</mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="dark-grey" [id]="'Delete'"
                                                                title="{{'Delete' | translate }}">
                                                                <mat-icon class="color-light-gray">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                        <div class="footer-box">
                                            <p>
                                                <mat-icon>add_circle</mat-icon><span>Actions</span>
                                            </p>
                                        </div>
                                    </div>
                                </diV>
                                <diV class="col-md-4  m-0 p-0">
                                    <div class="hold-gid">
                                        <p class="list-group-header">Transitions</p>
                                        <ul class="list-group">

                                            <li class="list-group-item">
                                                <div class="clearfix">
                                                    <div class="left-cont">
                                                        <div class="title-BAT">Transitions </div>
                                                    </div>
                                                    <div class="right-cont">
                                                        <div class="Icon-right">
                                                            <button mat-icon-button color="dark-grey" [id]="'Edit'"
                                                                title="{{'Edit' | translate }}">
                                                                <mat-icon class="edit-blue">edit</mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="dark-grey" [id]="'Delete'"
                                                                title="{{'Delete' | translate }}">
                                                                <mat-icon class="color-light-gray">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-inline-row">

                                                    <ul class="d-flex w-100 justify-content-between m-0 p-0">

                                                        <li>
                                                            <p>Transitions Type</p>

                                                            <b>Timed</b>
                                                        </li>
                                                        <li>
                                                            <p>Destination</p>

                                                            <b>Payment Adjustment</b>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="footer-box">
                                            <p (click)="openDialogWithTemplateRef(myDialog)">
                                                <mat-icon>add_circle</mat-icon><span>Transitions</span>
                                            </p>
                                        </div>
                                    </div>
                                </diV>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>


            </div>
            <div class="clearfix card mt-1">
                <div class="form-group m-0">
                    <button class="mat-focus-indicator m-1 color-blue mat-raised-button mat-button-base float-left"
                        type="submit">
                        Cancel
                    </button>
                    <button class="mat-focus-indicator m-1 color-blue mat-raised-button mat-button-base float-left"
                        type="submit">
                        Disable Queue
                    </button>
                    <button class="mat-focus-indicator m-1 color-blue mat-raised-button mat-button-base float-right"
                        type="submit">
                        Save Queue
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Dialog template -->
<ng-template #myDialog>
    <h3 matDialogTitle>New Translation</h3>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-md-3">

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Transition Type</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button matDialogClose color="primary"
                    class="mat-focus-indicator mb-3 color-blue mat-raised-button mat-button-base">Apply</button>

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Destination</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Duration</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Relative To</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Day Type</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-slide-toggle>Qulity Control</mat-slide-toggle>
            </div>

            <div class="col-md-9">
                <div class="mb-2 clearfix">
                    <a class="float-right add-CT">
                        <mat-icon>add_circle</mat-icon><span>Add New Category</span>
                    </a>
                </div>


                <div class="table1 custom-table">
                    <table class="outer-table">
                        <tr>
                            <th>Category</th>
                            <th>Field</th>
                            <th>Operator</th>
                            <th>Join Operator</th>
                            <th>Action</th>
                        </tr>

                        <tr>
                            <td class="border-bottom border-end">Technical Testing</td>
                            <td class="p-0">
                                <div class="data1 border-bottom">Field 1</div>
                                <div class="data2">Field 1</div>
                            </td>
                            <td class="p-0">
                                <div class="data1 border-bottom">EXISIST</div>
                                <div class="data2">EXISIST </div>
                            </td>
                            <td class="p-0">
                                <div class="data1 border-bottom">AND</div>
                                <div class="data2">NONE</div>
                            </td>
                            <td>
                                <button mat-icon-button color="dark-grey" [id]="'Edit'" title="{{'Edit' | translate }}">
                                    <mat-icon class="edit-blue">edit</mat-icon>
                                </button>
                            </td>

                        </tr>


                        <tr>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Equipment Malfunction</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="p-0">
                                <div class="data1 border-bottom">

                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Field 1</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="data2">


                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Field 2</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="p-0">
                                <div class="data1 border-bottom">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>EXISIST</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="data2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>EXISIST</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="p-0">
                                <div class="data1 border-bottom">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>AND</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="data2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>NONE</mat-label>
                                        <mat-select>
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                            <td><button mat-icon-button color="dark-grey" [id]="'Edit'" title="{{'Edit' | translate }}">
                                    <mat-icon class="edit-blue">edit</mat-icon>
                                </button></td>

                        </tr>
                    </table>
                </div>
                
                <div class="table2 custom-table">
                    <table class="outer-table">
                        <tr>

                            <th>Field</th>
                            <th>Operator</th>
                            <th>Join Operator</th>

                        </tr>

                        <tr>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="border-bottom">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button matDialogClose color="primary"
            class="mat-focus-indicator m-1 color-blue mat-raised-button mat-button-base">Save</button>
        <button mat-button matDialogClose color="primary"
            class="mat-focus-indicator m-1 color-blue mat-raised-button mat-button-base">Cancel</button>
    </mat-dialog-actions>
</ng-template>