<div class="container-fluid" id="pdfPage">
    <app-plate-info [entityDetails]="entityDetails" (downloadPdf)="downloadAsPDF()"></app-plate-info>
    <div class="action-icons-search d-flex flex-1">
        <div class="button-selector mr-5"><button [id]="'event1'" type="button"
                class="btn f-14 border-0 entity-button"[ngClass]="{ 'active' : router.url.includes('/ticket-details')}" (click)="getTicketDetail()">
                {{"Ticket Detail" |translate}}</button>
            <button [id]="'event2'" type="button"
                class="btn f-14 border-0  entity-button" [ngClass]="{ 'active' :router.url.includes('/ticket-history') }" (click)="getTicketHistory()">{{"Ticket History"
                |translate}}</button>
            <button [id]="'event3'" type="button"
                class="btn f-14 border-0  entity-button">{{"Correspondence"
                |translate}}</button>
        </div>
        <div class="entity-icons-group eventicons d-flex flex-1 justify-content-center">
            <button [id]="'event14'" mat-button class="custom-button-size p-0">
                <img [id]="'event5'" src="./assets/Tickets/Group 8702.svg" width="20px" />
            </button>
            <button [id]="'event6'" mat-button class="custom-button-size p-0">
                <img [id]="'event7'" src="./assets/Tickets/Group 7661.svg" width="26px" />
            </button>
            <button [id]="'event8'" mat-button class="custom-button-size p-0">
                <img [id]="'event9'" src="./assets/Tickets/P.png" width="22px" />
            </button>
            <button [id]="'event10'" mat-button [matMenuTriggerFor]="menu">
                <img [id]="'event11'" src="./assets/Tickets/Group 7658.png" width="12px" />
            </button>
            <button [id]="'event12'" mat-button class="custom-button-size p-0">
                <img [id]="'event13'" src="./assets/Tickets/Group 7660.png" width="12px" />
            </button>
            <div [id]="'event14'" class="custom-button-size color-text">
                <!-- <img src="./assets/Tickets/Group 8257.png" width="22px" /> -->
                <button [id]="'event15'" mat-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu " class="p-0">
                    <mat-icon [id]="'event16'">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button [id]="'event17'" mat-menu-item>
                        <span>{{"Adjust Payment" | translate}}</span>
                    </button>
                    <button [id]="'event18'" mat-menu-item>
                        <span>{{"Reduce Fines and Penalties" | translate}}</span>
                    </button>
                    <button [id]="'event19'" mat-menu-item (click)="getTicketHistory()">
                        <span>{{"View Ticket History" | translate}}</span>
                    </button>
                    <button [id]="'event20'" mat-menu-item>
                        <span>{{"Add an Event and Send a Correspondence" | translate}}</span>
                    </button>
                    <button [id]="'event21'" mat-menu-item>
                        <span>{{"Dissmiss a Ticket" | translate}}</span>
                    </button>
                    <button [id]="'event22'" mat-menu-item>
                        <span>{{"Administrative Review" | translate}}</span>
                    </button>
                    <button [id]="'event23'" mat-menu-item>
                        <span>{{"Ticket Facsimile" | translate}}</span>
                    </button>
                    <button [id]="'event24'" mat-menu-item>
                        <span>{{"Suspend Ticket" | translate}}</span>
                    </button>
                    <button [id]="'event25'" mat-menu-item>
                        <span>{{"Suspend Backout" | translate}}</span>
                    </button>
                    <button [id]="'event26'" mat-menu-item>
                        <span>{{"Add To Workflow" | translate}}</span>
                    </button>
                    <button [id]="'event28'"  mat-menu-item (click)="redirectShouldHappen()" >
                        <span>{{"nameandAddressUpdate" | translate}}</span>
                    </button>
                    <button [id]="'event27'" mat-menu-item
                        (click)="openCustomLayout();findByTicketNumber('F144643934')">
                        <!--Temparary Hard coded Will remove later-->
                        <span>Change Layout View</span>
                    </button>
                    <button [id] ="'addNotes'" mat-menu-item
                        (click)="openDialogWithTemplateRef(addNotes);">
                        <span>{{"Add Notes" | translate}}</span>
                    </button>
                </mat-menu>
            </div>
            <mat-menu #menu="matMenu">
                <button [id]="'event28'" mat-menu-item>Xl</button>
                <button [id]="'event29'" mat-menu-item>Xl Detail</button>
                <button [id]="'event30'" mat-menu-item>PDF</button>
                <button [id]="'event31'" mat-menu-item>CSV</button>
                <button [id]="'event32'" mat-menu-item>Print</button>
            </mat-menu>
        </div>
        <div class="layoutLinks mt-3" *ngIf="router.url.includes('ticket-details')">
            <a [id]="'layout 1'"  [ngClass]="applyClass1 ? 'active-layout' : ''" (click)="changeLayout(1)">{{'Layout 1'| translate}}</a>
            <a [id]="'layout 2'" [ngClass]="applyClass2 ? 'active-layout' : ''"  (click)="changeLayout(2)">{{'Layout 2' | translate }}</a>
            <a [id]="'layout 3'" [ngClass]="applyClass3 ? 'active-layout' : ''" (click)="changeLayout(3)">{{'Layout 3' | translate}}</a>
        </div>
       <div class="opacity-0 flex-1">.</div>
    </div>
   
    <!-- Ticket Details Component Rendered Here -->
    <!-- Ticket History Component Rendered Here -->
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <ng-template #addressUpdateDialog>
    <mat-dialog-content>
        <div class="custom-suffle">
            <app-address-update></app-address-update>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button [id]="'event35'" mat-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>

</ng-template> -->


<ng-template #myDialog>
    <mat-dialog-content>
        <div class="custom-suffle">
            <app-gallery-customize [galleryDetails]="galleryDetails"></app-gallery-customize>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button [id]="'event35'" mat-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>

</ng-template>

<ng-template #addNotes>
    <mat-dialog-content>
        <div class="custom-suffle">
            <span>Test</span>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button [id]="'event35'" mat-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>
</ng-template>
