<div class="grf-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu">{{'Enforcment' | translate}} <mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <img src="./assets/images/grf1.PNG">
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu">{{'Permits' | translate}}<mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <div class="flex">
            <div>
              <p class="amount">$</p>
            </div>
            <div>
              <p class="amount">15.000</p>
              <button class="see-history">see history</button>
            </div>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu"> {{'Revenue' | translate}}<mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <div class="">
            <img src="./assets/images/grf2.PNG">
          </div>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu"> {{'Hearings' | translate}}<mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <div class="">
            <img src="./assets/images/grf3.PNG">
          </div>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu">{{'Customer service' | translate}} <mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <div>
            <mat-list role="list" class="list-customer">
              <mat-list-item role="listitem">Item 1 <button class="boot-btn">Boot</button></mat-list-item>
              <mat-list-item role="listitem">Item 2 <button class="boot-btn">Boot</button></mat-list-item>
              <mat-list-item role="listitem">Item 3 <button class="boot-btn">Boot</button></mat-list-item>
              <mat-list-item role="listitem">Item 3 <button class="boot-btn">Boot</button></mat-list-item>
            </mat-list>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu">{{'Special Programs' | translate}}<mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <mat-list role="list" class="special-program">
            <mat-list-item role="listitem"><span class="round-dot"></span>Invoice 01/November/1245/s/o <button
                class="pad-btn">PAID</button></mat-list-item>
            <mat-list-item role="listitem"><span class="round-dot"></span>Invoice 01/November/1245/s/o<button
                class="pad-btn">PAID</button></mat-list-item>
            <mat-list-item role="listitem"><span class="round-dot"></span>Invoice 01/November/1245/s/o <button
                class="pad-btn">PAID</button></mat-list-item>
            <mat-list-item role="listitem"><span class="round-dot"></span>Invoice 01/November/1245/s/o<button
                class="pad-btn">PAID</button></mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <button mat-button [matMenuTriggerFor]="menu">{{'Updates' | translate}} <mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <mat-list role="list" class="special-program">
            <mat-list-item role="listitem">Invoice 01/November/1245/s/o <button class="pad-btn">PAID</button>
            </mat-list-item>
            <mat-list-item role="listitem">Invoice 01/November/1245/s/o<button class="pad-btn">PAID</button>
            </mat-list-item>
            <mat-list-item role="listitem">Invoice 01/November/1245/s/o <button class="pad-btn">PAID</button>
            </mat-list-item>
            <mat-list-item role="listitem">Invoice 01/November/1245/s/o<button class="pad-btn">PAID</button>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card fxLayoutAlign="center center">
          <button mat-button [matMenuTriggerFor]="menu">{{'Queues' | translate}}<mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <div class="">
            <img src="./assets/images/grf3.PNG">
          </div>
        </mat-card>
      </div>
  
    </div>
  </div>
</div>
